node_modules
.next
.next-production
.next-final
.next-vercel
.next-live
.runtime
.analysis
.zip-inspect
out
build
dist
.env
.env*.local
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.vercel
.DS_Store
